:root {
  --primary-color: #31c27c;
  /* 这个变量可以在整个文档中被引用，方便统一修改颜色值。 */
}
body {
  margin: 0;
  /* 去除页面主体的外边距。 */
  background: #f5f5f5;
  /* 设置背景颜色为浅灰色。 */
  font-family: Microsoft Yahei;
  /* 设置字体为微软雅黑。 */
  font-size: 14px;
  /* 设置字体大小为 14 像素。 */
  /* min-width: 1000px; */
  /* 表示可能原本设计了页面主体的最小宽度为 1000 像素。 */
}
a {
  text-decoration: none;
  /* 去除链接的下划线。 */
  color: #000;
  /* 设置链接的文字颜色为黑色。 */
}
header {
  height: 90px;
  /* 设置头部区域的高度为 90 像素。 */
  background: white;
  /* 设置背景颜色为白色。 */
  display: flex;
  /* 使用弹性布局，使内部元素可以在水平方向上灵活排列*/
  align-items: center;
  /* 使内部元素在垂直方向上居中对齐。 */
}
.header-inner, main {
  /* width: 1200px; */
  /* 设计了宽度为 1200 像素。 */
  padding: 20px;
  /* 设置内边距为 20 像素，使内容与边缘有一定距离。 */
  margin: auto;
  /* 使元素在水平方向上自动居中。 */
}
.tag-list {
  margin-top: 50px;
  /* 设置顶部外边距为 50 像素 */
  margin-bottom: 15px;
  /* 设置底部外边距为 15 像素 */
}
.tag-item {
  display: inline-block;
  /* 使元素以行内块的形式显示 */
  padding: 0 8px;
  /* 设置左右内边距为 8 像素 */
  margin-right: 24px;
  /* 设置右边距为 24 像素 */
  line-height: 26px;
  /* 设置行高为 26 像素 */
  color: #000;
  /* 设置文字颜色为黑色。 */
  text-decoration: none;
  /* 去除下划线 */
}
.tag-active {
  background: var(--primary-color);
  /* 使用之前定义的背景颜色 */
  color: white;
  /* 设置文字颜色为白色。 */
}
.tag-item:not(.tag-active):hover {
  color: var(--primary-color);
  /* 使用之前定义的颜色 */
}
.nowrap {
  white-space: nowrap;
  /* 强制文本不换行*/
  overflow: hidden;
  /* 当内容超出元素范围时，隐藏超出部分*/
  text-overflow: ellipsis;
  /* 当文本溢出时，显示省略号 */
}
.playlist {
  display: grid;
  /* 使用网格布局 */
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  /* 设置网格的列布局，自动填充空间，最小宽度为200像素，最大宽度为 1fr */
  gap: 45px 15px;
  /* 设置网格的行间距和列间距分别为45像素和15像素。 */
  margin-bottom: 45px;
  /* 设置底部外边距为45像素*/
}
.cover-wrap {
  display: flex;
  /* 使用弹性布局，使内部元素可以在水平和垂直方向上灵活排列 */
  position: relative;
  /* 设置相对定位 */
  overflow: hidden;
  /* 当内容超出元素范围时，隐藏超出部分 */
  width: 100%;
  /* 相对于父元素的宽度为100%*/
  margin-bottom: 15px;
  /* 设置底部外边距为 15 像素*/
  align-items: center;
  /* 使内部元素在垂直方向上居中对齐 */
  justify-content: center;
  /* 使内部元素在水平方向上居中对齐 */
  cursor: pointer;
  /* 设置鼠标指针为手型 */
}
.cover-img {
  width: 100%;
  /* 相对于父元素的宽度为100% */
  transition: all 0.75s;
  /* 设置所有属性的过渡效果，持续时间为 0.75 秒 */
}
.cover-mask {
  position: absolute;
  /* 设置绝对定位 */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* 设置元素的位置，使其覆盖整个父元素 */
  background: #000;
  /* 设置背景颜色为黑色 */
  opacity: 0;
  /* 设置初始不透明度为 0 */
  transition: all 0.5s;
  /* 设置所有属性的过渡效果，持续时间为 0.5 秒 */
}
.cover-play {
  position: absolute;
  /* 设置绝对定位 */
  left: 50%;
  top: 50%;
  /* 设置元素的位置 */
  margin-left: -35px;
  margin-top: -35px;
  /* 调整元素的位置 */
  opacity: 0;
  /* 设置初始不透明度为 0 */
  transform: scale(0.7);
  /* 设置初始缩放比例为 0.7 */
  transition: all 0.5s;
  /* 设置所有属性的过渡效果，持续时间为 0.5 秒 */
}
.cover-wrap:hover .cover-mask {
  opacity: 0.2;
  /* 将不透明度设置为 0.2 */
}
.cover-wrap:hover .cover-play {
  opacity: 1;
  /* 将不透明度设置为 1 */
  transform: scale(1);
  /* 将缩放比例设置为 1 */
}
.cover-wrap:hover .cover-img {
  transform: scale(1.07);
  /* 将图片放大到 1.07 倍 */
}
.album-title:hover {
  color: var(--primary-color);
  /* 使用之前定义的颜色 */
}
.album-author {
  color: #999;
  /* 设置文字颜色为浅灰色 */
  line-height: 1.6;
  /* 设置行高为 1.6 */
}
.album-author:hover {
  color: var(--primary-color);
  /* 使用之前定义的颜色 */
}
.album-time {
  color: #999;
  /* 设置文字颜色为浅灰色 */
}
.page {
  display: flex;
  /* 使用弹性布局，使内部元素可以在水平和垂直方向上灵活排列。 */
  align-items: center;
  /* 使内部元素在垂直方向上居中对齐。 */
  justify-content: center;
  /* 使内部元素在水平方向上居中对齐 */
}
.page-item {
  display: inline-block;
  /* 使元素以行内块的形式显示 */
  color: #a2a2a2;
  /* 设置文字颜色为浅灰色 */
  line-height: 50px;
  /* 设置行高为 50 像素，使文字在垂直方向上居中 */
  padding: 0 20px;
  /* 设置左右内边距为 20 像素 */
  margin: 10px;
  /* 设置外边距为 10 像素 */
  font-size: 16px;
  /* 设置字体大小为 16 像素 */
}
.page-current, .page-item:not(.page-more):hover {
  background: var(--primary-color);
  /* 使用之前定义的颜色 */
  color: white;
  /* 设置文字颜色为白色 */
}
footer {
  margin-top: 60px;
  /* 设置顶部外边距为 60 像素 */
  background: #333;
  /* 设置背景颜色为深灰色。 */
  height: 200px;
  /* 设置高度为 200 像素 */
}


